<div class=" grid place-items-center  bg-gray-900">
    <!-- Todo List -->  
    <h1 class=" w-[90%] text-[white] text-[30px] font-bold py-3">Latest Orders</h1>
    <div class="flex-col-reverse flex w-[90%]">
        <!-- Single Todo Item -->
            <div 
            class="flex items-center  justify-between bg-gray-800 p-4 mb-4 rounded-md  hover:border hover:border-yellow-700 transition duration-100">
              <div class="flex items-center">
                <!-- <input type="checkbox" class="mr-4"> -->
                <div >
                  <h2 class="text-white font-semibold mb-2">{{'task.title'}}</h2>
                  <p class="text-gray-400">{{'task.description'}}</p>
                </div>
              </div>
              <div>
                <button class="px-8 py-2 bg-red-600 text-white rounded-md hover:bg-red-800 focus:outline-none">Delete</button>
              </div>
            </div>
            
            <!-- Repeat this for each todo item -->
            
            <div 
            class="flex items-center  justify-between bg-gray-800 p-4 mb-4 rounded-md  hover:border hover:border-yellow-700 transition duration-100">
              <div class="flex items-center">
                <!-- <input type="checkbox" class="mr-4"> -->
                <div >
                  <h2 class="text-white font-semibold mb-2">{{'task.title'}}</h2>
                  <p class="text-gray-400">{{'task.description'}}</p>
                </div>
              </div>
              <div>
                <button class="px-8 py-2 bg-red-600 text-white rounded-md hover:bg-red-800 focus:outline-none">Delete</button>
              </div>
            </div>
          </div>
</div>