<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4  px-5 pt-3">
    <div *ngFor="let shop of shopList" class="relative bg-white rounded-md border-2 shadow-md p-4">
        <p class="text-xl font-bold text-gray-800">{{ shop.shopName }}</p>
        <p class="text-sm text-gray-600">District: {{ shop.district }}</p>
        <p class="text-sm text-gray-600">Location: {{ shop.location }}</p>
        <button class="absolute top-8 right-2 text-white px-4 py-2 rounded-md"
            [ngClass]="{'bg-red-500': !shop.deleteStatus, 'bg-green-500': shop.deleteStatus}"
            (click)="deleteShop(shop._id)">
            <span *ngIf="!shop.deleteStatus">Delete</span>
            <span *ngIf="shop.deleteStatus">Undo</span>
        </button>
    </div>
</div>