<form [formGroup]="shopForm" (ngSubmit)="addShop()" class="max-w-md mx-auto shadow-md rounded-lg p-4">

    <div class="mb-4">
      <label for="shopName" class="block text-gray-700 text-sm font-bold mb-2">Shop Name:</label>
      <input type="text" class="form-input w-full rounded-md px-2 py-1 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400" id="shopName" formControlName="shopName">
      <div *ngIf="shopForm.get('shopName')?.invalid && shopForm.get('shopName')?.touched"
           class="text-red-500 text-xs mt-1">
        Shop Name is required
      </div>
    </div>
  
    <div class="mb-4">
      <label for="location" class="block text-gray-700 text-sm font-bold mb-2">Location:</label>
      <input type="text" class="form-input w-full rounded-md px-2 py-1 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400" id="location" formControlName="location">
      <div *ngIf="shopForm.get('location')?.invalid && shopForm.get('location')?.touched"
           class="text-red-500 text-xs mt-1">
        Location is required
      </div>
    </div>
  
    <div class="mb-4">
      <label for="district" class="block text-gray-700 text-sm font-bold mb-2">District:</label>
      <input type="text" class="form-input w-full rounded-md px-2 py-1 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400" id="district" formControlName="district">
      <div *ngIf="shopForm.get('district')?.touched && shopForm.get('district')?.invalid"
           class="text-red-500 text-xs mt-1">
        District is required
      </div>
    </div>
  
    <button type="submit" class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded-md"
            [disabled]="shopForm.invalid">Add Shop</button>
  
  </form>
  