<div class="order-details">
    <h2 class=" text-center font-semibold text-[25px] !text-red-600">Order Details</h2>
    <!-- <div class="order-property">
      <span class="property-label">Cancel Status:</span>
      <span class="property-value">false</span>
    </div>
    <div class="order-property">
      <span class="property-label">Edited Person:</span>
      <span class="property-value"> </span>
    </div> -->
    <div class="order-property border-2 py-1">
      <span class="property-label">Item Name : </span>
      <span class="property-value">sef</span>
    </div>
    <div class="order-property border-2 py-1">
        <span class="property-label">Shop Details:</span>
        <span class="property-value">
            demos shop, palakkad, kerala
        </span>
      </div>

      <div class="order-property border-2 py-1">
        <span class="property-label">Fabric Name and Code:</span>
        <span class="property-value">dsasadd</span>
      </div>
      
      <div class="order-property border-2 py-1">
          <span class="property-label">Item Description:</span>
          <span class="property-value">sfdsd</span>
        </div>

        <div class="order-property border-2 py-1">
            <span class="property-label">Order Received Date:</span>
            <span class="property-value">2024-05-03T00:00:00.000Z</span>
          </div>

    <div class="order-property border-2 py-1">
      <span class="property-label">Expecting Delivery Date:</span>
      <span class="property-value">2024-05-16T00:00:00.000Z</span>
    </div>
    

    <div class="order-property border-2 py-1">
      <img src="/assets/images/no-photo-or-blank-image.jpg" alt="">
    </div>
    
    <div class="order-property border-2 py-1">
      <span class="property-label">Order Received By:</span>
      <span class="property-value">sudais</span>
    </div>

    <div class="order-property border-2 py-1">
      <span class="property-label">Order Delivery Status:</span>
      <span class="property-value">false</span>
    </div>

    <div class="order-property border-2 py-1">
        <span class="property-label">Order edit Status:</span>
        <span class="property-value">false</span>
      </div>
      
      <div class="order-property border-2 py-1">
        <span class="property-label">Order edited by :</span>
        <span class="property-value">false</span>
      </div>
 

      <div class="order-property1 border-2 flex !justify-around py-2">
        <button>dshfuah</button>
        <button>dshfuah</button>
        <button>dshfuah</button>
      </div>
  </div>